@charset "utf-8";
/* CSS Document */

body{ font-family:Arial, Helvetica, sans-serif; font-size:14px; color:#fff;}
.clear{ clear:both;}
a{ color:#fff;}
a:hover{ text-decoration:none;}
li{ list-style-type:none;}
a:focus{ outline:none;}
input:focus{ outline:none !important;}

header{ position:fixed; background:url(../images/header_bg.png) repeat; padding:15px 0px; width:100%; z-index:9999;}

.container{ max-width:1044px; width:100%; margin:0 auto;}

.carousel.slide .item img{ width:100%; height:666px;}
.carousel-indicators{ margin-left:25px; text-align:left; left:0px;}
.carousel-indicators li{ width:14px; height:14px; border:solid 2px #fff;}
.carousel-indicators .active{ background-color:#929094; width:14px; height:14px; margin:1px;}
.carousel-caption{ left:0px; text-align:left; top:88px; width:100%;}
.carousel-caption h3{ font-size:122px; font-family: 'HelveticaNeueLTStd35Thin'; line-height:104px;}
.carousel-caption p{ max-width:390px; width:100%; font-weight:bold; font-family:Arial; font-size:14px;}

.navbar{ margin-bottom:0px;}
.navbar-default{ background:none; border:none;}
.navbar-default .navbar-nav > li > a{ color:#fff; text-transform:uppercase; font-weight:bold; padding:15px 25px;}
.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a.active,.navbar-default .navbar-nav li.current-menu-item a{ color:#ff9900;}
.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus,.navbar-default .navbar-nav li.current-menu-item a{ outline:none; color:#ff9900;}

.more_btn{ width:100%; max-width:238px; float:left; margin:25px 0 0;}
.more_btn a{ border:solid 1px #fff; float:left; width:100%; background:#f36921; text-transform:uppercase; color:#fff; font-size:18px;font-family: 'helveticabold'; padding:12px 0 12px 15px;}
.more_btn a span{ float:left; margin-top:5px;}
.more_btn a figure{ float:right; margin-right:25px; display:block; margin-top:3px;}
.carousel.slide .more_btn a figure img{ height:auto; min-height:20px;}
.more_btn a:hover{ background:#e05106; color:#fff;}

.abt_pan{ padding:0px; margin:0px;}
.abt_pan figure.abt_img{ position:absolute; width:100%;}
.abt_pan figure.abt_img img{ width:100%; max-height:600px;}
.abt_cnt_pan{ position:relative; padding:188px 0 192px; text-align:center;}
.go_btm{ position:absolute; text-align:center; width:100%; height:45px; top:0px;}
.abt_cnt_pan h2{ font-size:70px; line-height:55px; margin:0; padding:0; color:#fff; font-family: 'HelveticaNeueLTStd35Thin';  margin-bottom:15px;}
.abt_cnt_pan h6{ font-size:18px; line-height:20px; margin:0; padding:0; color:#fff; font-family:Arial, Helvetica, sans-serif; margin-bottom:75px;}

.wht_we_do{ width:238px; display:inline-block; margin-right:40px;}
.wht_we_do a{ width:100%; border:solid 1px #fff; float:left; padding:12px 15px 10px; font-size:18px; font-family: 'helveticabold'; text-transform:uppercase; color:#fff;}
.wht_we_do a:hover{ background:#ff6900;}
.wht_we_do a span{ float:left; margin-top:4px;}
.wht_we_do a figure{ float:right; margin-right:10px;}

.our_wrk_pan{ background:#fff;}
.our_works{ position:relative; padding:92px 0 90px; text-align:center;}
.our_works h3{ font-size:60px; margin:0 auto; line-height:65px; color:#999999; margin-bottom:35px; padding:0; font-family: 'HelveticaNeueLTStd35Thin'; font-weight:normal; text-align:center; width:100%; max-width:770px;}
.rotater{ height:200px;}
.our_lft_arw{ float:left; width:35px; margin-top:88px;}
.our_mdl_pan{ width:85%; display:inline-block;}
.our_mdl_pan ul{ margin:0; padding:0px 0px; height:200px;}
.our_mdl_pan li{ display:inline; float:left; width:189px; text-align:center; margin:0 16px 35px;}
.our_rht_arw{ float:right; width:35px; margin-top:88px;}

.our_wrk_btn{ max-width:238px; margin:0 auto; margin-top:33px; overflow:hidden;}
.our_wrk_btn a{ width:100%; padding:12px 15px 9px; float:left; border:solid #999 1px; background:#fff; color:#999; font-size:18px;font-family: 'helveticabold'; text-transform:uppercase;}
.our_wrk_btn a:hover{ border:solid 1px #ff9900;}
.our_wrk_btn a span{ float:left; margin-top:3px;}
.our_wrk_btn a figure{ float:right; margin-right:10px;}

.srvs_pan figure.abt_img { position: absolute;width: 100%;}
.srvs_pan figure.abt_img img{ width:100%; height:513px;}
.srvs_pan .go_btm{ margin-top:-6px;}
.srvs_cnt_pan{ padding:90px 0 48px; margin:0; text-align:center; position:relative;}
.srvs_cnt_pan h3{ max-width:850px; width:100%; margin:0 auto; font-size:60px; line-height:55px; color:#fff; margin-bottom:37px;font-family: 'HelveticaNeueLTStd35Thin';}
.srvs_cnt_pan p{ line-height:25px; margin:0 0 10px 0; font-size: 18px; font-family:Arial; color:#fff;}
.srvs_cnt_pan .wht_we_do{ margin-top:44px;}
.srvs_cnt_pan .wht_we_do a:hover{ background:#666;}

.get_in_tch{ min-height:669px;}
.get_in_tch figure.abt_img{ position:absolute; width:100%;}
.get_in_tch figure.abt_img img{ width:100%; height:669px;}

.srvs_cnt{ max-width:564px; text-align:center; margin:0 auto; position:relative; padding:224px 0 96px;}
.srvs_cnt h4{ font-weight:normal; font-size:68px; line-height:60px; font-family:'HelveticaNeueLTStd45Light'; color:#fff; margin:0; padding:0; margin-bottom:70px;}
.srvs_cnt .wht_we_do a:hover{ background:#666;}


footer{ background:#000; padding:45px 0 25px;}
.ftr_lft{ margin:5px 0 0 0; padding:0px; font-size:16px;font-family:'HelveticaNeueLTStd45Light'; color:#fff; float:left;}
.ftr_lft p{ color:#ff8100; margin:5px 0;}

.ftr_rht{ float:right; width:310px; margin:0; overflow:hidden;}
.ftr_rht ul{ float:right; margin:0; padding:0px;}
.ftr_rht li{ display:inline; float:left; margin-left:25px; border:solid 1px #fff;}
.ftr_rht li:first-child{ margin-left:0px;}

.pwrd_by{ font-size:15px; color:#fff; font-family: 'HelveticaNeueLTStd35Thin'; margin-top:25px; width:100%; clear:both;}

.test_drive_pan{ position:fixed; top:100px; z-index:999; right:0px;}

.inner_banner{ padding:0; margin:0px;}
.inner_banner figure{ position:relative;}
.inner_banner figure img{ width:100%; height:666px;}
.inner_ban_txt .about_title{ max-width:847px; width:100%; margin:0 auto;}
.inner_ban_txt{ position:absolute; margin:0 auto; text-align:center; top:182px; left:0px; width:100%;}
.inner_ban_txt h2{ font-size:70px; line-height:65px; max-width:800px; margin-bottom:55px; font-family: 'HelveticaNeueLTStd45Light'; color:#fff;}
.inner_ban_txt p{  font-size:18px; line-height:20px; max-width:830px; font-family:Arial, Helvetica, sans-serif; color:#fff; margin:0; padding:0px;}

.inr_adt_cnt{padding: 0; position: relative;text-align: center;}
.blck_pan{ float:left; width:50%; background:#1b1b1b; padding:78px 75px 65px; text-align:left; min-height:400px;}
.blck_pan h2{ max-width:421px; width:100%; font-size:70px; font-family: 'HelveticaNeueLTStd35Thin'; color:#fff; line-height:65px;}
.orng_pan{ float:left; width:50%; background:#ff9900; padding:78px 75px 65px; min-height:408px;}
.orng_pan p{ line-height:22.5px; font-size:16px; padding:0; margin:0; margin-bottom:5px; color:#fff; max-width:472px; text-align:left;}

.our_works.management_pan{ padding:42px 0 15px;}
.management_pan h2{ font-size:60px; line-height:59px; color:#000; font-family: 'HelveticaNeueLTStd35Thin'; margin-bottom:35px;}
.management_pan ul{ margin:0px; padding:0px; margin-bottom:15px; overflow:hidden;}
.management_pan li{ float:left; width:33.3%; text-align:center; font-family:Arial; font-size:18px;}
.management_pan li figure{ display:block;}
.management_pan li span{ display:block; color:#ff9900;}
.management_pan li strong{ color:#1b1b1b; display:block;}
.management_pan .staff_lst ul{ width:93%; float:left;}
.management_pan .staff_lst .our_lft_arw, .management_pan .staff_lst .our_rht_arw{ margin-top:175px;}

.slide h2{ font-size:60px; line-height:59px; color:#000; font-family: 'HelveticaNeueLTStd35Thin'; margin-bottom:35px;}
.slide { margin:0px; padding:0px; margin-bottom:15px; overflow:hidden;}
.slide { float:left; width:33.3%; text-align:center; font-family:Arial; font-size:18px;}
.slide figure{ display:block;}
.slide span{ display:block; color:#ff9900;}
.slide strong{ color:#1b1b1b; display:block;}
.slider1{margin: 0 0 15px;}

.inner_ban_txt .what_we_d{ margin:0 auto; max-width:472px;}

.our_works.what_we_do_lst{ padding:0 0;}
.what_we_do_lst ul{ margin:0; padding:0px;}
.what_we_do_lst li{ padding:72px 0px; overflow:hidden; position:relative;}
.what_we_do_lst li .lst_cnt{ max-width:1033px; margin:0 auto;}
.what_we_do_lst li:nth-child(2n+1){ background:#e9e9e9;}
.what_we_do_lst li:first-child{ padding-top:90px;}
.what_we_do_lst li .lst_cnt figure{ float:right;}
.what_we_do_lst li:nth-child(2n+1) .lst_cnt figure{ float:left;}
.what_we_do_lst li .lst_cnt article{ float:left; width:68%; color:#666; font-size:14px; text-align:left; line-height:24px;}
.what_we_do_lst li .lst_cnt article span p{ color:#666; font-size:14px; text-align:left; line-height:24px; font-family:Arial; margin: 0px; padding: 0px; letter-spacing: inherit; }
.what_we_do_lst li:nth-child(2n+1) .lst_cnt article{ float:right;}
.what_we_do_lst li .lst_cnt article p{ font-size:42px; line-height:38px; padding:0; margin:0 0 15px; font-family: 'HelveticaNeueLTStd35Thin'; letter-spacing:-1px; color:#ff9900;}
.what_we_do_lst li:nth-child(2n+1) .lst_cnt article p{ color:#666}
.more_btn_1{ max-width:238px; margin-top:18px; overflow:hidden;}
.more_btn_1 a{ width:100%; padding:12px 15px 9px; float:left; border:solid #ff9900 1px; color:#ff9900; font-size:18px;font-family: 'helveticabold'; text-transform:uppercase;}
.what_we_do_lst li:nth-child(2n+1) .more_btn_1 a{ width:100%; padding:12px 15px 9px; float:left; border:solid #999 1px; color:#666; font-size:18px;font-family: 'helveticabold'; text-transform:uppercase;}
.what_we_do_lst li:nth-child(2n+1) .more_btn_1 a:hover, .more_btn_1 a:hover{ border:solid 1px #ff9900;}
.more_btn_1 a span{ float:left; margin-top:3px;}
.what_we_do_lst li .lst_cnt article .more_btn_1 a figure{ float:right; margin-right:10px; margin-bottom:0;}

.cnt_frm{ padding:50px 0; position:relative;}
.cnt_frm h2{ color:#fff; font-size:70px;font-family: 'HelveticaNeueLTStd35Thin'; line-height:65px; margin:0; padding:0; margin-bottom:20px; text-align:center;}
.get_in_dtls{ margin:0px auto; width:100%; max-width:903px; padding:0;}
.get_in_dtls input[type=text], .get_in_dtls input[type="email"], .get_in_dtls input[type="tel"]{ width:100%; float:left; padding:14px 14px; margin:0 0 15px 0; border:none; background:rgba(255, 255, 255, 0.7); color:#666; font-size:18px;}
.sel_dv{ width:100%; float:left; clear:both; position:relative;}
.get_in_dtls select, .customSelect{ width:100% !important; padding:14px 8px; margin:0 0 15px; border:none; background:rgba(255, 255, 255, 0.7); color:#666; font-size:18px; position:relative; /*overflow:hidden;*/}
.get_in_dtls textarea{width:100%; padding:8px 14px; height:156px; margin:0 0 15px; border:none; background:rgba(255, 255, 255, 0.7); color:#666; font-size:18px;}
.submit_btn{ margin: 33px auto 0;max-width: 263px;overflow: hidden;}
.submit_btn a{border:1px solid #fff; color:#fff; float:left; font-family:"helveticabold"; font-size:18px;padding:15px 15px 12px;text-transform:uppercase;width:100%; background:#ff9900;}
.submit_btn input[type=submit]{ background:url(../images/submit_img_bg.png) no-repeat; width:223px; height:49px; color:#fff; border:none; text-align:left;font-family:"helveticabold"; padding-left:15px; text-transform:uppercase; font-size:18px; padding-top:5px; float:left;}
.submit_btn a span{float: left; margin-top: 4px;}
.submit_btn a figure{float:right;margin-right:10px;}

/*** CSS FOR PLACE HOLDER TEXT COLOR ***/

::-webkit-input-placeholder, select { /* WebKit browsers */         color:#666;}
:-moz-placeholder {                   /* Mozilla Firefox 4 to 18 */ color:#666; opacity:  1;}
::-moz-placeholder {                  /* Mozilla Firefox 19+ */     color:#666; opacity:  1;}
:-ms-input-placeholder {              /* Internet Explorer 10+ */   color:#666;}

/***  ***/

.service_detail .inner_banner{ min-height:562px; background:#000;}
.srvs_dtl{ padding:125px 0 0; margin:0; max-width:795px; width:100%;}
.srvs_dtl h4{ margin:0; text-transform:uppercase; font-size:16px; font-family:Arial; font-weight:bold; color:#fff;}
.srvs_dtl h2{ margin:0; font-size:70px; margin-bottom:30px; font-family: 'HelveticaNeueLTStd35Thin'; color:#fff;}
.srvs_dtl p{ line-height:28px; font-size:16px; font-family:Arial;}

.srvs_dtls_lst ul{ margin:0; padding:0px; overflow:hidden;}
.srvs_dtls_lst li{ background:none; overflow:hidden; margin:0; padding:72px 0;}
.srvs_dtls_lst .lst_cnt{ margin:0 auto; max-width:1033px;}
.srvs_dtls_lst .lst_cnt figure{ float:right;}
.srvs_dtls_lst .lst_cnt article{ float:left; width:76%; color:#666; text-align:left; line-height:30px; font-size:16px;}
.srvs_dtls_lst li:nth-child(2n+1) .lst_cnt figure { float: left;}
.srvs_dtls_lst li:nth-child(2n+1) .lst_cnt article {float: right;}
.srvs_dtls_lst li .lst_cnt article p { color: #ff9900; font-family: "HelveticaNeueLTStd35Thin"; font-size: 42px; letter-spacing: -1px;line-height: 38px;
margin: 0 0 15px; padding: 0;}
.srvs_dtls_lst .lst_cnt article p span{ float:left;color:#666; text-align:left; line-height:30px; font-size:16px; font-family:Arial;}

.download_sect{ background:#eaeaea; padding:20px 0; overflow:hidden; color:#666; font-family: 'helveticabold';}
.email{ position:relative;}
.email .email_sec_1{ width:40%; float:left; letter-spacing:1.5px;}
.email_submt{ width:56%; float:right;}
.email_submt .navbar-form{ margin:0px;}
.email_submt input[type=text]{ background:#fff; color:#666; padding:12px 14px 7px; font-size:18px; font-weight:normal; border:solid 1px #666; border-radius:0px; -webkit-border-radius:0px; height:46px; width:300px;}
.email_submt .btn-default{ background:url(../images/submit_img.png) no-repeat; width:223px; height:49px; text-indent:-9999px; border:none;}
.cls_pop{ position:absolute; right:0; top:0px;}
.sec_1{ width:35%; float:left; font-size:18px; text-transform:uppercase; text-align:right; margin:15px 0;}
.sec_2{ width:23%; text-align:center; float:left;}
.sec_3{ width:40%; float:left; font-size:14px; line-height:22px; text-align:left; margin:8px 0; letter-spacing:1.5px;}

.blog_page .inner_banner{ margin:0; padding:0px; padding-top:100px; }
.blog_nav{background:#e5e5e5; padding:25px 0px;}
.blog_nav ul{ margin:0; padding:0px;}
.blog_nav li{ padding:0 45px; margin:0px; float:left; display:inline;}
.blog_nav li a{ font-size:14px; font-weight:bold; font-family:Arial; color:#999; text-transform:uppercase;}
.blog_nav li a:hover{ color:#333;}
.blog_psts{ max-width:911px; width:100%; margin:0 auto; padding:25px 0px;}
.blog_title_pan{ margin:0px; padding:0px; margin-bottom:15px;}
.blog_title_pan h2{ color:#333; font-size:70px; font-family: 'HelveticaNeueLTStd35Thin'; line-height:65px; margin-bottom:15px;}
.blog_title_pan p{ max-width:584px; width:100%; line-height:30px; color:#333;}
.blog_psts ul{ margin:0; padding:0px;}
.blog_psts li{ overflow:hidden; width:100%; margin:0 0 30px 0;}
.blog_psts li > figure{ display:block; margin-bottom:15px; overflow:hidden;}
.blog_psts li .blg_cnt{ padding:0; margin:0px; margin-bottom:40px; overflow:hidden;}
.blog_psts li .blg_cnt h2{ font-size:54px; font-family: 'HelveticaNeueLTStd35Thin'; line-height:50px; margin:15px 0; padding:0;color:#000;}
.blog_psts li .blg_cnt p{ font-size:16px; font-family:Arial; line-height:30px; color:#666; margin:0 0 15px; padding:0;}
.blog_psts li > .more_btn_1 a{ border:solid 1px #666; color:#666;}
.blog_psts li > .more_btn_1 figure{ float:right;}
.blg_pst_dtls{ border-top:solid 1px #666; padding:15px 0; margin:0px; margin-top:65px;}
.blg_pst_by{ float:left; text-align:left; color:#666; font-family:Arial; font-size:16px;}
.blg_pst_by span{ color:#ff9900;}
.blg_pst_dt{ float:right; text-align:right; color:#666;}


.old_new_artcls{ margin:0; padding:0px;}
.old_artcles{ float:left;}
.old_artcles a{ color:#666; text-transform:uppercase; font-size:18px; font-family:Arial, Helvetica, sans-serif;}
.old_artcles figure{ float:left; margin-right:13px;}
.old_artcles span{ float:left;}
.new_artcles{ float:right;}
.new_artcles a{ float:right;color:#666; text-transform:uppercase; font-size:18px; font-family:Arial, Helvetica, sans-serif;}
.new_artcles figure{ float:right; margin-left:13px;}
.new_artcles span{ float:left;}
.new_artcles a:hover, .old_artcles a:hover{ color:#ff9900;}

.blog_page.blog_detail_page .inner_banner{ padding-top:0px;}
.blog_psts li ul{ padding:0; margin:27px 0;}
.blog_psts li ul li{ margin-bottom:0; padding-left:15px; color:#666; line-height:30px; font-size:16px; background:url(../images/dot_lst_icon.png) no-repeat left 12px;}
.blog_psts li .blg_cnt p{ margin:0 0 25px;}
.blg_cnt p span{ color:#ff6900;}
.blg_cnt p img{ float:left; margin:0 30px 0px 0;}

.blg_pst_by_dtl{ margin:40px 0px 0px; padding:0;}
.blg_pst_by_dtl_lft{ float:left; font-size:18px;}
.blg_pst_by_dtl_lft span{ color:#000; font-size:18px; clear:both; display:block;}
.blg_pst_by_dtl_lft strong{ color:#666; font-size:16px; clear:both; display:block; font-weight:normal; margin:15px 0 0; float:left;}
.blg_pst_by_dtl_rht{ float:right;}

.blog_page.blog_detail_page .download_sect{ background:none;}

.contact_page .get_in_tch{ min-height:773px;}
.contact_page .cnt_frm{ padding-top:148px;}
.contact_page .get_in_tch figure.abt_img img {height: 773px;}

.enq_pan{ overflow:hidden; margin:0px; padding:0px; color:#000;}
.new_enq{ max-width:486px; padding:60px 0; text-align:center; width:100%; margin:0 auto;}
.brdr_rht{ border-right:solid 1px #000;}
.new_enq h3{ color:#000; font-size:46px;font-family: 'HelveticaNeueLTStd35Thin'; margin:0; padding:0px; margin-bottom:8px;}
.new_enq p{ line-height:24px; margin-bottom:5px;}
.new_enq p strong{ font-size:30px; font-weight:bold; font-family:Arial; margin-bottom:0px; color:#999;}
.new_enq p a{ color:#ff9900; font-size:18px;}

.rst_tst_drv{ position:absolute; overflow:hidden; width:100%;}
.rst_tst_drv > img{ width:100%; height:394px;}
.rst_drv_pan{margin:0 auto; width:100%; max-width:786px;position:relative; padding-top:25px; text-align:center;height:394px;}
.rst_drv_pan h2{ font-size:56px; line-height:60px;font-family: 'HelveticaNeueLTStd35Thin'; margin-bottom:28px;}
.rst_drv_pan p{ max-width:532px; margin:0 auto; margin-bottom:20px; width:100%; line-height:20px;}
.rst_drv_pan p strong{ font-size:18px;}
.rst_drv_pan .wht_we_do{ margin-top:10px; margin-bottom:15px;}


.our_ofc{ position:relative; padding:0px; margin:0px;}
.our_ofc > figure > img{ width:100%;}
.our_ofc_txt{ position:absolute; text-align:center; width:100%; top:70px;z-index:9999;}
.our_ofc_txt h2{ color:#fff; font-size:68px;font-family: 'HelveticaNeueLTStd45Light'; line-height:65px;}


.our_work .inner_banner { background:#000;  min-height: 380px;}
.our_work .srvs_dtl{ padding-top:120px;}

.our_wrk_lst_pan{ padding:0px; margin:0pa; position:relative; overflow:hidden;}
.our_wrk_lst_pan ul{ margin:0; padding:0px;}
.our_wrk_lst_pan li{ float:left; min-height:299px; position:relative; width:50%;}
.our_wrk_lst_pan li a{ position:relative; overflow:hidden; float:left; width:100%;}
.our_wrk_lst_pan li a div{ background:url(../images/wrk_drk_bg_1.png) repeat; position:absolute; height:299px; text-align:center; z-index:99; top:0px; width:100%; padding-top:78px;}
.our_wrk_lst_pan li a > img{ width:100%; height:299px;}
.our_wrk_lst_pan li a div span{ font-size:60px;font-family: 'HelveticaNeueLTStd35Thin'; color:#fff;}
.our_wrk_lst_pan li a div span strong{ display:block; margin-top:10px; font-size:18px; font-family:Arial;}
.our_wrk_lst_pan li a div figure{ transition:all 0.3s ease-in-out 0.1s; opacity:0; position:absolute; top:78px; text-align:center; width:100%;}
.our_wrk_lst_pan li a div:hover{ background:none;}
.our_wrk_lst_pan li a div:hover span{ display:none;}
.our_wrk_lst_pan li a div:hover figure{ transition:all 0.3s ease-in-out 0.1s; opacity:1;}

.our_work .our_works{ padding-top:60px;}

.sector_pan{ position:absolute; top:0px; left:0px; z-index:999;}
.sect_btn{ width:120px; padding:15px; background:#ff6900; color:#fff; float:left; font-weight:bold; cursor:pointer;}
.sect_btn > img{ float:right; margin:0 0px 0 10px;}
.sect_btn:hover{ color:#fff; text-decoration:underline;}
.sector_pan ul{ margin-left:0px; background:#ff6900; padding-right:15px; overflow:hidden;}
.sector_pan li{ float:left; margin-right:5px; min-height:inherit; width:auto;}
.sector_pan li:last-child{ margin-right:0px;}
.sector_pan li:last-child img{ margin-top:14px; cursor:pointer;}
.sector_pan li a{ float:left; padding:17.8px 10px 11.8px; text-transform:uppercase; font-size:14px; font-family:'helveticabold'; font-weight:bold; color:#f8b280;}
.sector_pan li a:hover, .sector_pan li a.active{ color:#fff;}
.category_nav{ width:auto; float:left;}


.our_wrk_detail .inner_banner figure img {height: 460px;}
.our_wrk_detail .inner_ban_txt h2{ margin-bottom:5px; font-weight:normal;}

.abt_wrk_clnt{ background:#333; padding:25px 15px; font-family:Arial; font-size:16px;}
.wrk_clnt{ float:left; width:20%; margin-right:8px;}
.wrk_clnt strong{ display:block; width:100%;}
.wrk_group{ float:left; width:23%; margin-right:8px;}
.wrk_group strong{ display:block; width:100%;}
.wrk_methods{ float:left; width:54%;}
.wrk_methods strong{ display:block; width:100%;}

.wrk_team_detail{ position:relative; padding:0 15px; padding-bottom:60px;}
.wrk_team_detail h2{ padding:60px 0 20px; font-size:60px; line-height:55px; color:#ff5000; font-family: 'HelveticaNeueLTStd35Thin'; text-align:center;}
.wrk_team_detail p{ font-size:16px; line-height:30px; text-align:center; color:#666; font-family:Arial; max-width:1001px; width:100%; margin:0px 0;}
.wrk_team_detail figure{ text-align:center; width:100%; margin:35px 0 80px;}

.approach_pan{}
.approach_pan figure.abt_img{ position:absolute; width:100%;}
.approach_pan figure.abt_img > img{ width:100%; height:444px;}
.approach_pan .srvs_cnt_pan{ height:444px; padding-top:68px;}

.wrk_team_result{ position:relative;background:#f1f1f1; padding:0 15px; padding-bottom:60px; }
.wrk_team_result h2{ padding:60px 0 20px; font-size:60px; line-height:55px; color:#ff5000; font-family: 'HelveticaNeueLTStd35Thin'; text-align:center;}
.wrk_team_result p{ font-size:16px; line-height:30px; text-align:center; color:#666; font-family:Arial; max-width:1001px; width:100%; margin:0px 0;}

.rslt_qt{ position:relative; font-size:24px; font-family:Arial; line-height:22px; margin:0px auto; margin-top:30px; text-align:center; max-width:837px; width:100%;}
.rslt_qt em{ color:#666; line-height:28px;}
.rslt_qt em:before{ content:open-quote; position:absolute; color:#ff9500; font-size:56px; top:2px; left:-15px;}
.rslt_qt em:after{ content: close-quote; position:absolute; color:#ff9500; font-size:56px; bottom:30px; right:30px;}
.rslt_qt p{ color:#666; margin:10px 0; clear:both; text-align:left; font-weight:bold; font-size:14px;}


.social_media{ background:#fff; padding:10px 10px;}
.social_media ul{ padding:0; margin:0px;}
.social_media li{ width:25%; float:left; text-align:center;}
.social_media li a{ width:100%; float:left; padding:45px 0;}


/** Carousel **/

.jcarousel { position: relative; overflow: hidden;height: 440px;}
.jcarousel ul {width: 20000em;position: relative;list-style: none; margin: 0;padding: 0;}
.jcarousel li {float: left;width: 33.3%;}
.jcarousel .loading { text-align: center; line-height: 90px; /* Fake vertical aligning */}

/** Carousel Controls **/

.jcarousel-control-prev {position: absolute; top: 35px; width: 30px;height: 30px; text-align: center; background: url(../images/lft_arw.png) no-repeat;
text-decoration: none; color: #fff;text-decoration: none;text-shadow: 0 0 1px #000; font: 24px/27px Arial, sans-serif; -webkit-border-radius: 30px;
-moz-border-radius: 30px; border-radius: 30px; -webkit-box-shadow: 0 0 2px #999; -moz-box-shadow: 0 0 2px #999; box-shadow: 0 0 2px #999;}
.jcarousel-control-next { position: absolute; top: 35px;width: 30px;height: 30px; text-align: center;background: url(../images/rht_arw.png) no-repeat;
color: #fff; text-decoration: none; text-shadow: 0 0 1px #000; font: 24px/27px Arial, sans-serif; -webkit-border-radius: 30px; -moz-border-radius: 30px; border-radius: 30px;-webkit-box-shadow: 0 0 2px #999; -moz-box-shadow: 0 0 2px #999; box-shadow: 0 0 2px #999;}

.tp-caption.medium_text{ width:100%; white-space:inherit;}
.tp-bullets{ margin: -20px auto 0; max-width: 1044px; position: relative;width: 100%;}
.slide-out-div{ max-width:915px; width:100%; z-index:99999; background:#666666; padding:0px 15px 0 15px; margin-right:3px;}
.slide-out-div .submit_btn{ margin-top:9px; clear:both; margin-bottom:15px;}
.sel_on { float: left; width:49%; float: right; margin-bottom:15px;}
.sel_on strong{ width:15%; float:left; color:#fff;}
span.wpcf7-list-item{ width:48%; float:left; color:#fff;}
.wpcf7-form-control-wrap.pselect {float: left; width: 85%;}
.wpcf7-list-item-label {  float: right; width: 77%; margin-top: 3px;}
.name {float: left;width: 49%; position:relative;}
.name span{ width:100%; position:inherit; display:block;}
div.wpcf7-validation-errors{ border:none; color:#F00; margin:-8px 0 10px; padding:0;}
.name span span.wpcf7-not-valid-tip{ position:absolute; left:10px; top:0;}
div.wpcf7 img.ajax-loader{ float:left; margin-top:18px; margin-left:8px;}
.current-menu-item a{ color:#ff9900;}
#form-group{ float:left;}
.download-icon{ margin-bottom:15px; float:left;}

.slide-out-div.testdrive.open a{ background:#666 url(../images/test_drive_btn_open.jpg) no-repeat !important; min-height:348px !important;}

.email_submt > br { display: none;}
.customSelect .selectList{ width:100%; background:#ccc; border-radius:0px; -webkit-border-radius:0px; box-shadow:none; -webkit-box-shadow:none;}
.customSelect .selectList dl{ width:100% !important;}
.customSelect .selectedValue{ box-shadow:none; -webkit-box-shadow:none; border:none; border-radius:0; -webkit-border-radius:0; padding:0; text-shadow:none; background:none; color:#666;}
.customSelect .caret{ border:none; width:20px; background:url(../images/select_drp_bg.png) no-repeat; height:20px;}
.customSelect .selectValueWrap .caret{ top:16px;}
.customSelect .selected{ background:#999;}
.customSelect .selectList dl{ background:none;}
.customSelect.focused .selectedValue{ box-shadow:none; -webkit-box-shadow:none;}
.blg_pst_by a{ color:#ff6900;}
li.testdrive{ display:none;}

.slide-out-div h2{ font-family:"HelveticaNeueLTStd35Thin"; font-size:60px; text-align:center; line-height:55px;}
.wpcf7-form.invalid .name span span.wpcf7-not-valid-tip{ top:46px;}
.wpcf7-form.invalid .slide-out-div.testdrive.open a{ height:344px !important;}

/***** MEDIA CSS START *****/

@media (max-width:1024px){
.carousel-caption{ padding:0 25px;}
.abt_cnt_pan{ padding-bottom:105px;}
.blck_pan{ min-height:498px;}

.our_works{ padding-left:25px; padding-right:25px;}
.our_mdl_pan li{ width:174px;}
footer{ padding:45px 25px 25px;}
.srvs_dtl{ padding:160px 25px 0;}
.download_sect{ padding:20px 25px;}
.email_submt{ width:60%;}
.what_we_do_lst li{ padding:72px 10px;}
}


@media screen and (min-width: 768px) and (max-width: 1023px) {
.navbar-default .navbar-nav > li > a{ padding:15px 18px;}
.carousel-caption{ padding:0 25px;}
.go_btm{ width:96%;}
.abt_cnt_pan{ padding:91px 0 81px;}
.our_works{ padding-left:25px; padding-right:25px;}
.our_mdl_pan{ width:88%;}
.our_mdl_pan ul{ overflow:hidden;}
.our_mdl_pan li{ width:177px;}
.srvs_cnt_pan{ padding-bottom:11px;}
.srvs_cnt_pan .wht_we_do{ margin-top:26px;}

.blck_pan{ min-height:498px; padding:78px 22px 65px;}
.blck_pan h2{ font-size:58px; line-height:49px;}
.orng_pan{ padding:78px 32px 65px;}

.management_pan .staff_lst ul{ width:91%;}
.management_pan li figure img{ width:100%; }

.what_we_do_lst li .lst_cnt{ padding:0 25px;}
.what_we_do_lst li .lst_cnt article{ width:55%;}

.srvs_dtl{ padding:125px 25px 0;}
.our_works.srvs_dtls_lst{ padding:92px 25px 90px;}
.srvs_dtls_lst li{ padding:24px 0;}
.srvs_dtls_lst .lst_cnt article{ width:68%;}

.download_sect{ padding:20px 25px;}
.email .email_sec_1{ width:44%;}
.email_submt input[type="text"]{ max-width:300px; width:100%; margin-bottom:15px;}
.sec_1{ width:33%;}
.sec_2{ width:18%;}
.sec_3{ width:48%;}

.cnt_frm{ padding:50px 25px;}

footer{ padding:45px 25px 25px;}
.ftr_lft{ width:45%;}

.blog_psts{ padding:25px;}

.rst_drv_pan, .rst_tst_drv > img { height: 432px;}
.approach_pan .srvs_cnt_pan{ padding:60px 15px 11px;}
.bx-wrapper .bx-prev{ left:-8px;}
.bx-wrapper .bx-next{ right:-8px;}
.wrk_team_detail .bx-wrapper .bx-prev{ left:-58px;}
.wrk_team_detail .bx-wrapper .bx-next{ right:-58px;}
.our_mdl_pan.slider1 .slide{ width:170px !important;}
.rev_slider_wrapper, .tp-simpleresponsive{ height:530px !important;}


}
@media screen and (min-width:600px) and (max-width:1024px){
#form-group { float: none;margin: 0 auto; width: 80%;}
.wpcf7-form.invalid .submit_btn{ margin-top:13px;}
.wpcf7-form.invalid .name span span.wpcf7-not-valid-tip { top: 51px;}
.wpcf7-form.invalid .get_in_dtls{ padding-bottom:0px;}


}


@media (max-width:480px){
.blog_nav li{ padding:0 39px;}

}



@media screen and (min-width:320px) and (max-width: 767px) {
.test_drive_pan{ display:none;}
header{ padding:5px 8px 15px;}
header .logo{ float:left;}
header .logo img{ width:100%;}
.col-lg-10.col-sm-10.nav_br { position: absolute; right: 0; margin:-5px 0 ; padding:10px 0;}
.navbar-collapse{background:url("../images/header_bg.png") repeat; position: absolute; right: 0; top: 71px; width: 250%;}
.rev_slider_wrapper, .tp-simpleresponsive{ height:530px !important;}
.tp-bullets { display:none;}
.more_btn a figure{ width:20px;}
.more_btn figure > img{ width:20px !important; height:20px !important;}
.navbar{ margin-bottom:10px;}
.navbar-toggle{ margin-top:18px;}
.container-fluid{ padding-right:0px;}
.navbar-default .navbar-toggle{ border:none;}
.navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus{ background:none; border:none;}
.navbar-toggle .icon-bar{ width:27px; height:3px;}
.navbar-default .navbar-toggle .icon-bar{ background-color:#fff;}
.navbar-default .navbar-nav > li > a{ padding:8px 15px;}
.navbar-default .navbar-collapse, .navbar-default .navbar-form{ border:none; box-shadow:none; -webkit-box-shadow:none;}
.carousel.slide .item img { max-width: inherit; overflow:hidden; height:531px; width: auto;}
.carousel-caption{ top:68px;}
.carousel-caption h3{ font-size:78.72px; line-height:70px;}
.carousel-caption p{ font-size:19.62px; line-height:24px;}
.carousel-indicators{ display:none;}

.more_btn a{ padding:10px 0 8px 15px;}

.go_btm{ display:none;}
.abt_pan figure.abt_img{ overflow:hidden;}
.abt_pan figure.abt_img img{ width:auto; max-height:444px; overflow:hidden;}
.abt_cnt_pan{ padding:48px 0 0; width:100%; margin:0 auto; max-width:380px;}
.abt_cnt_pan h2{ font-size:54.95px; font-weight:normal; max-width:328px; margin:0 auto; margin-bottom:15px;}
.abt_cnt_pan h6{ margin-bottom:35px;}
.wht_we_do{ margin:0 0 17px 0;}
.wht_we_do a{ padding:10px 15px 8px;}

.our_works h3{ font-size:50.59px; line-height:48px;}
.our_mdl_pan{ width:75%;}
.our_works{ margin:0 auto; max-width:405px; padding:74px 0 53px;}
.rotater {height: 100px;}
.our_lft_arw, .our_rht_arw{ margin-top:13px;}
.our_mdl_pan ul{ height:73px; overflow:hidden; height:53px;}
.our_mdl_pan li{ margin:0 6px; width:138px;}
.our_mdl_pan li img{ width:100%;}

.srvs_pan figure.abt_img{ overflow:hidden;}
.srvs_pan figure.abt_img img{ height:480px; width:auto;}
.srvs_cnt_pan{ max-width:377px; margin:0 auto; padding:52px 0 0;}
.srvs_cnt_pan h3{ font-size:50.59px; line-height:47px; margin-bottom:22px;}
.srvs_cnt_pan p{ margin-bottom:2px; font-size:16px;}
.srvs_cnt_pan .wht_we_do{ margin-top:35px;}

.get_in_tch figure.abt_img{ overflow:hidden; width:100%;}
.get_in_tch figure.abt_img img{ width:auto; height:585px; margin-left:-320px;}

.srvs_cnt{ max-width:438px; padding:70px 0 59px;}
.srvs_cnt h4{ font-size:54px; line-height:53px; margin-bottom:60px;}
.get_in_tch {min-height: 585px;}

.ftr_lft{ max-width:400px; float:none; margin:0 auto; margin-bottom:25px;}
.ftr_rht{ float:none; margin:0 auto; width:290px;}
.ftr_rht ul{ float:none;}
.ftr_rht li{ margin-left:14px;}

.pwrd_by{ max-width:398px; margin:0 auto; margin-top:25px;}

.inner_banner figure{ overflow:hidden;}
.inner_banner figure img{ width:auto; height:532px;}
.inner_banner figure .container { padding-left:0px;}
.inner_ban_txt{ padding:0 43px;}
.inner_ban_txt h2{ font-size:36.95px; margin-bottom:3px;}
.inner_ban_txt p{  font-size:15.63px; line-height:21px;}

.blck_pan{ width:100%; min-height:350px;}
.blck_pan h2{ font-size:37px; line-height:33px;}
.orng_pan{ width:100%;}

.management_pan h2{ font-size:54px; line-height:50px; padding:0 10px;}
.management_pan li{ width:100%; margin-bottom:10px;}

.what_we_do_page .inner_banner figure img{ width:auto; height:531px; margin-left:-250px;}
.what_we_do_page .inner_ban_txt{ top:117px;}
.our_works.what_we_do_lst{ max-width:100%; padding:0 0px;}
.what_we_do_lst li{ padding:72px 25px;}
.what_we_do_lst li:nth-child(2n+1) .lst_cnt figure, .what_we_do_lst li .lst_cnt figure{ float:none; text-align:center; margin-bottom:20px;}
.what_we_do_lst li:nth-child(2n+1) .lst_cnt article, .what_we_do_lst li .lst_cnt article{ float:none; text-align:center; width:100%;}
.what_we_do_page .get_in_tch figure.abt_img img {height:799px;}
.more_btn_1{ margin:0 auto; margin-top:20px;}
.get_in_dtls{ padding:10px 20px;}
.get_in_dtls input[type="text"]{ width:100%;}

.srvs_dtl{ padding:111px 25px 0;}
.srvs_dtl h2{ font-size:54.95px;}

.our_works.srvs_dtls_lst{ padding:13px 0 53px;}
.srvs_dtls_lst li{ padding:38px 0;}
.srvs_dtls_lst li:nth-child(2n+1) .lst_cnt figure, .srvs_dtls_lst .lst_cnt figure{ float:none; text-align:center;}
.srvs_dtls_lst li:nth-child(2n+1) .lst_cnt article, .srvs_dtls_lst .lst_cnt article{ float:none; text-align:center; width:100%; margin-top:25px;}

.email .email_sec_1, .sec_3{ display:none;}
.email_submt{ width:100%; float:none; text-align:center;}
.email_submt input[type="text"]{ margin:0 auto; width:100%; margin-bottom:10px;}
.sec_1{ width:100%; text-align:center; float:none;}
.sec_2{ width:100%; float:none; text-align:center;}


.blog_page .inner_banner{ padding-top:76px;}
.blog_psts{ padding:25px;}
.blog_nav li{ padding:0 12px;}

.blg_pst_dt{ text-align:left; float:left; clear:both;}
.old_artcles{ width:48%;}
.old_artcles span{ width:48%;}
.old_artcles figure{ margin-top:17px;}
.new_artcles{ width:43%;}
.new_artcles figure{ margin-left:4px; margin-top:17px;}
.new_artcles span{ width:61%; float:right;}

.blog_psts li .blg_cnt h2{ font-size:47px;}
.blg_cnt p img{ margin-bottom:25px; float:none; display:block;}

.contact_page .cnt_frm h2{ font-size:54px;}
.contact_page .cnt_frm { padding-top: 91px;}
.contact_page .get_in_tch figure.abt_img img { height: 859px; margin-left:-724px;}
.new_enq{ padding:26px 0}
.brdr_rht{ border-right:0;}
.new_enq h3{ font-size:45px;}
.new_enq p a{ border-bottom:solid 1px #000; padding-bottom:30px;}
.new_enq p a.brdr_none{ border:none; padding-bottom:0px;}
.rst_drv_pan p{ max-width:329px;}
.rst_tst_drv > img{ height:555px;}
.rst_drv_pan{ height:555px;}
.rst_drv_pan .wht_we_do {margin-bottom: 3px; margin-top: 2px;}

.our_wrk_lst_pan li{ width:100%; float:none;}
.wrk_clnt{ width:100%; margin:0; margin-bottom:10px;}
.wrk_group{ width:100%; margin:0; margin-bottom:10px;}
.wrk_methods{ width:100%;}

.wrk_team_detail figure > img{ width:100%;}
.approach_pan .srvs_cnt_pan{ height:371px; padding-top:47px;}
.approach_pan figure.abt_img > img{ height:371px;}
.rslt_qt em:after { bottom: 56px;}
.rslt_qt p{ float:none; text-align:center; padding-bottom:30px;}

.contact_page .get_in_tch {min-height: 859px;}
.bx-wrapper .bx-prev{ left: -43px;}
.bx-wrapper .bx-next{ right:-43px;}
.our_wrk_pan .bx-wrapper .bx-prev{ left: 8px;}
.our_wrk_pan .bx-wrapper .bx-next{ right:8px;}
.slide-out-div{ display:none;}
.navbar-default .navbar-toggle.collapsed .icon-bar{ background:#fff;}
.navbar-default .navbar-toggle.collapsed:hover .icon-bar{ background: #ff6900;}
.navbar-default .navbar-toggle .icon-bar { background: #ff6900;}
.category_nav{ margin-left:-120px; margin-top:50px; width:120px;}

li.testdrive{ display:block;}

.submit_btn{ clear:both;}
.get_in_tch.test-contact{ background:#666;}
.get_in_tch.test-contact .name, .get_in_tch.test-contact .sel_on{ width:100%;}
.get_in_tch.test-contact .sel_on span.wpcf7-list-item{ width:65%}
.sector_pan li:last-child img {cursor: pointer;  margin-top: 14px; transform: rotate(90deg); display:none !important;}
.sect_btn > img { float: right; margin: 0 0 0 10px;transform: rotate(90deg); display:block !important;}
.wrk_team_detail .bx-wrapper{ width:230px !important;}
.download-icon{ float:none;}
.what_we_do_lst .lst_cnt figure img{ width:100%; max-width:260px;}
.what_we_do_page{}
.get_in_dtls .name{ width:100%;}
.cnt_frm h2{ font-size:55px;}

}



/***** MEDIA CSS END *****/
/***** DONT WRITE ANY CSS BELLOW THE MEDIA CSS. CAN YOU PLEASE WRITE ABOVE THE MEDIA CSS *****/
